<!-- Sub banner section Start -->
<div class="sub-banner-part pb-100">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="sub-banner-box">
					<a href="shop.html">
						<img class="d-none d-md-block" src="images/sub-banner1.jpg" alt="Xpoge">
						<img class="d-block d-md-none" src="images/sub-responsive-banner1.jpg" alt="Xpoge">
					</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-8">
						<div class="sub-banner-box">
							<a href="shop.html">
								<img class="d-none d-md-block" src="images/sub-banner2.jpg" alt="Xpoge">
								<img class="d-block d-md-none" src="images/sub-responsive-banner2.jpg" alt="Xpoge">
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sub-banner-box">
							<a href="shop.html">
								<img class="d-none d-md-block" src="images/sub-banner3.jpg" alt="Xpoge">
								<img class="d-block d-md-none" src="images/sub-responsive-banner3.jpg" alt="Xpoge">
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="sub-banner-box">
							<a href="shop.html">
								<img class="d-none d-md-block" src="images/sub-banner4.jpg" alt="Xpoge">
								<img class="d-block d-md-none" src="images/sub-responsive-banner4.jpg" alt="Xpoge">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Sub banner section End -->

<!-- Site Services Block Start -->
<section id="services-part" class="menu-section services-part position-r pb-100">
    <div class="container">
        <div class="ser-feature-block mb_-30 center-sm">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="services-box mb-30">
                        <div class="services-box-inner">
                            <div class="services-icon services1">
                                <img src="images/ser-icon1.svg" alt="xpoge">
                            </div>
                            <div class="services-detail">
                                <h3 class="ser-title">Free Shipping</h3>
                                <div class="ser-subtitle">Free Shipping on orders over $99</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="services-box mb-30">
                        <div class="services-box-inner">
                            <div class="services-icon services2">
                                <img src="images/ser-icon2.svg" alt="xpoge">
                            </div>
                            <div class="services-detail">
                                <h3 class="ser-title">Special Gift</h3>
                                <div class="ser-subtitle">Perfect gift to your loved ones</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="services-box mb-30">
                        <div class="services-box-inner">
                            <div class="services-icon services3">
                                <img src="images/ser-icon3.svg" alt="xpoge">
                            </div>
                            <div class="services-detail">
                                <h3 class="ser-title">Money Back</h3>
                                <div class="ser-subtitle">Not receiving an item applied to</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Site Services Block End -->