<!-- Blog section start -->
<section class="blog-section pb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading-part text-center mb-30 mb-sm-20">
					<h2 class="main_title">Latest blog</h2>
				</div>
			</div>
		</div>
		<div class="blog-contant list-view mb_-30">
			<div class="row">
				<div class="col-lg-6">
					<div class="blog-item first-blog">
						<div class="blog-image">
							<a href="blog-detail.html">
								<img src="images/blog-img1.jpg" alt="Xpoge">
							</a>
						</div>
						<div class="blog-detail">
							<span class="bloger-date">John Doe (05 Jan 2020)</span>
							<h3 class="head-three mb-10"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
							<a href="blog-detail.html" class="readmore-btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-12">
							<div class="blog-item">
								<div class="blog-image">
									<a href="blog-detail.html">
										<img src="images/blog-img2.jpg" alt="Xpoge">
									</a>
								</div>
								<div class="blog-detail">
									<span class="bloger-date">John Doe (05 Jan 2020)</span>
									<h3 class="head-three mb-10"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
									<a href="blog-detail.html" class="readmore-btn">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="blog-item">
								<div class="blog-image">
									<a href="blog-detail.html">
										<img src="images/blog-img3.jpg" alt="Xpoge">
									</a>
								</div>
								<div class="blog-detail">
									<span class="bloger-date">John Doe (05 Jan 2020)</span>
									<h3 class="head-three mb-10"><a href="blog-detail.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
									<a href="blog-detail.html" class="readmore-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Blog section end -->