<!-- Banner start -->
<section id="banner-part" class="menu-section pb-100">
    <div class="banner main-banner owl-carousel">
        <div class="banner-1">
            <img src="images/banner1.jpg" alt="Xpoge">
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-detail-inner">
                                <span class="subtitle1">Women Style</span>
                                <h1 class="banner-title">Big sale</h1>
                                <div class="subtitle2">
                                    <span class="part1">Summer</span>
                                    <span class="part2">Collection</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-2">
            <img src="images/banner2.jpg" alt="Xpoge">
            <div class="banner-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-detail-inner">
                                <span class="subtitle1">Up to 40% Off</span>
                                <h1 class="banner-title">Men Suit</h1>
                                <div class="subtitle2">
                                    <span class="part1">New</span>
                                    <span class="part2">Collection</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner end -->