<!-- Product Section Start -->
<section class="product-section pb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading-part text-center mb-30 mb-sm-20">
					<h2 class="main_title">Featured Products</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<div class="new-label"><span>New</span></div>
						<a href="product-page.html">
							<img src="images/1.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">Men's Full Sleeves Collar Shirt</a>
							</div>
							<div class="price-box">
								<span class="price">$95.50</span>
								<del class="price old-price">$100.00</del>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<a href="product-page.html">
							<img src="images/2.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">Women's Cape Jacket</a>
							</div>
							<div class="price-box">
								<span class="price">$30.22</span>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<div class="sale-label"><span>Sale</span></div>
						<a href="product-page.html">
							<img src="images/3.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">Men's Regular Fit T-Shirt</a>
							</div>
							<div class="price-box">
								<span class="price">$56.00</span>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<a href="product-page.html">
							<img src="images/4.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">Women's Cotton Plain T-Shirts</a>
							</div>
							<div class="price-box">
								<span class="price">$65.23</span>
								<del class="price old-price">$70.00</del>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<a href="product-page.html">
							<img src="images/5.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">Men's Printed Regular Shirt</a>
							</div>
							<div class="price-box">
								<span class="price">$45.25</span>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<div class="sale-label"><span>Sale</span></div>
						<div class="new-label"><span>New</span></div>
						<a href="product-page.html">
							<img src="images/6.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">Polyester Printed T-Shirts</a>
							</div>
							<div class="price-box">
								<span class="price">$88.54</span>
								<del class="price old-price">$100.00</del>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<a href="product-page.html">
							<img src="images/7.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">Excalibur Men's Slim Formal Trousers</a>
							</div>
							<div class="price-box">
								<span class="price">$68.55</span>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<div class="product-item">
					<div class="product-image">
						<a href="product-page.html">
							<img src="images/8.jpg" alt="Xpoge">
						</a>
					</div>
					<div class="product-details-outer">
						<div class="product-details">
							<div class="product-title">
								<a href="product-page.html">A-Line Dress for Women's</a>
							</div>
							<div class="price-box">
								<span class="price">$77.54</span>
							</div>
						</div>
						<div class="product-details-btn">
							<ul>
								<li class="icon cart-icon">
									<a href="cart.html">
										<span></span>
									</a>
								</li>
								<li class="icon wishlist-icon">
									<a href="wishlist.html">
										<span></span>
									</a>
								</li>
								<li class="icon compare-icon">
									<a href="javascript:void(0)">
										<span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="align-center">
					<a href="shop.html" class="btn btn-color">See more Products</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Product Section End -->