<!-- Testimonial Section Start -->
<section class="testimonial-section position-r ptb-100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading-part text-center mb-30 mb-sm-20">
					<h2 class="main_title">Testimonial</h2>
				</div>
			</div>
		</div>
		<div class="testimonial-slider owl-carousel position-initial">
			<div class="item testimonial-main">
				<div class="client-img-main">
					<div class="client-img">
						<img alt="Xpoge" src="images/testimonial_img1.jpg">
					</div>
					<div class="quote-img">
						<img src="images/quote-img.png" alt="Xpoge">
					</div>
				</div>
				<div class="clear-fix"></div>
				<div class="client-detail">
					<p>make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was make a type specimen book. It has survived not only five centuries.</p>
					<h4 class="sub-title client-title">- john Doe - </h4>
					<div class="designation">Founder</div>
				</div>
			</div>
			<div class="item testimonial-main">
				<div class="client-img-main">
					<div class="client-img">
						<img alt="Xpoge" src="images/testimonial_img2.jpg">
					</div>
					<div class="quote-img">
						<img src="images/quote-img.png" alt="Xpoge">
					</div>
				</div>
				<div class="clear-fix"></div>
				<div class="client-detail">
					<p>make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was make a type specimen book. It has survived not only five centuries.</p>
					<h4 class="sub-title client-title">- Joseph deboungawer - </h4>
					<div class="designation">Maneger of Business  Development</div>
				</div>
			</div>
			<div class="item testimonial-main">
				<div class="client-img-main">
					<div class="client-img">
						<img alt="Xpoge" src="images/testimonial_img3.jpg">
					</div>
					<div class="quote-img">
						<img src="images/quote-img.png" alt="Xpoge">
					</div>
				</div>
				<div class="clear-fix"></div>
				<div class="client-detail">
					<p>make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was make a type specimen book. It has survived not only five centuries.</p>
					<h4 class="sub-title client-title">- john Doe - </h4>
					<div class="designation">Founder</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Testimonial Section End -->